body {
    font-family: roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: #1f2937;
}

.nav {
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.nav p {
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #777777;
    font-size: 20px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 350px;
}

.hero-section h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 0;
}

.hero-section p {
    color: rgba(255, 255, 255, 0.449);
}

.hero-section button {
    height: 40px;
    width: 100px;
    background-color: rgb(9, 114, 241);
    border: black;
    border-radius: 8px;
    color: white;
}

.hero-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.hero-right img {
    width: 400px;
    height: 250px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.info-section h3 {
    margin-bottom: 48px;
    font-size: 40px;
    font-weight: bold;
    margin: 24px;
    padding: 24px;
}

.card {
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    color: rgba(10, 0, 0, 0.449);
}

.card-container {
    width: 100vh;
    display: flex;
    justify-content: space-around;
    gap: 64px;
    margin-bottom: 16px;
}

.card-container img {
    width: 200px;
    height: auto;
    border: 3px solid rgb(9, 114, 241);
    border-radius: 8px;
}

.quote {
    height: 350px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #818285;
    max-width: 800px;
}

.quote strong {
    align-self: flex-end;
    margin-right: 400px;
    font-size: 24px;
}